<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleslog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleslog.css') }}">

    <title>Dashboard</title>

</head>
<body>

    {% extends "base.html" %}

    {% block title %}Inicio{% endblock %}
    
    {% block content %}
    
    <div class="login-container">
    
    <h1>Bienvenido, {{ name }}!</h1>
    <a href="{{ url_for('users') }}">Ver usuarios registrados</a><br>
    <a href="{{ url_for('home') }}">Volver al inicio</a>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>

</div>

    {% endblock %}
</body>
</html>
