<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Registrados</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleslog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleslog.css') }}">



<body>
    {% extends "base.html" %}

    {% block title %}Inicio{% endblock %}
    
    {% block content %}


    <div class="login-container">
    <h1>Usuarios Registrados</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home') }}">Regresar al Dashboard</a>

</div>

    {% endblock %}
</body>
</html>